<header id="header" class="header">
  <a href="https://www.premierleague.com" target="_blank">
    <img id="premier-logo" src="/assets/Premier_League_Logo.png" alt="premier_league_logo">
  </a>
  <nav class="navbar">
    <a class="nav-btn" href="/">Home</a>
    <a class="nav-btn" href="/clubs">Explore</a>
    <a class="nav-btn" href="/about">About</a>
    <a class="nav-btn" href="/contact">Contact</a>
  </nav>

  {{!-- BURGER MENU --}}
  <div id="toggle-menu">

    <input type="checkbox">

    <span></span>
    <span></span>
    <span></span>

    <ul id="menu">
      <a href="/"><li>Home</li></a>
      <a href="/clubs"><li>Explore</li></a>
      <a href="/about"><li>About</li></a>
      <a href="/contact"><li>Contact</li></a>
    </ul>

  </div>
</header>