<div class="modal-window">
  <div class="modal-box">
    <span>Are you sure you want to delete this entry?</span>
    <div>
      <button id="modal-no-btn" class="modal-btn">NO</button>
      <button id="modal-yes-btn" class="modal-btn">YES</button>
    </div>
  </div>
</div>
