<main class="page-container">
  <article class="text-article">
    <h2>About this project</h2>
    <p>
      This simple project is an exercise of the introductory course to Node.js 
      provided by "r/Argentina Programa".
    </p>
    <p>
      The purpose of the exercise was to encompass some basics concepts approached by the first class of the course: 
      how to create a basic Node.js server, Express, routing and request handling, HTTP requests methods, Server Side Rendering with
      Handlebars, basic data persistance, among others concepts.
    </p>
    <p>
      The data used for this exercise was provided by&nbsp;<a href="https://www.football-data.org/" target="_blank">football-data.org</a>
      &nbsp;API. The web design and page layout is a design of&nbsp;<a href="/contact">my own</a>, 
      and takes the color scheme and font design used on the Premier League visual identity design to tie this site to 
      its subject.
    </p>
    <p>
      You can visit&nbsp;<a href="https://argentinaprograma.com/" target="_blank">r/Argentina Programa</a>&nbsp;
      to access the ongoing course for free.
    </p>
  </article>
</main>