<main class="page-container">
  <article class="text-article">
    <h2>Contact Me</h2>
    <p>Greets! My name is <strong>Juan Pablo Bernard</strong>, a former Architect now starting the path to become a Software
      Developer. You can find more about me on the links down below.
    </p>
    <div id="social-link-container">
      <a href="https://www.linkedin.com/in/juan-pablo-bernard/" target="_blank">
        <img src="/assets/linkedinLogo.png" alt="linkedin-logo">
        LinkedIn
      </a>
      <a href="https://github.com/bernardjp" target="_blank">
        <img src="/assets/githubLogo.png" alt="github-logo">
        GitHub
      </a>
    </div>
  </article>
</main>