<main class="homepage-container">
  <section id="welcome-section">
    <div id="welcome-container">
      <div>
        <h1>PREMIER LEAGUE DATABASE</h1>
        <span>Find everything you want to know about your 
          favourite Premier League's team including: full squad lineup, 
          stadium and contact information, official website, and more. </span>
      </div>
    </div>
  </section>
  <section id="info-section">
    <div id="info-title">
      <h2>SEARCH / UPDATE / CREATE</h2>
      <span>Look between the 20 Members Clubs who make up the League at any one time.
         Check their info, update it, create new Clubs and delete those relegated to the League One.</span>
    </div>
    <div id="info-container">
      <div class="info-card">
        <img src="/assets/view-file.png" alt="view-icon">
        <h3>FIND THE CLUB</h3>
        <span>The Database contains all the Members Clubs ordered alphabetically. 
          Each entry shows some of the clubs information along side EDIT/DELETE shortcuts.
          Click on the Club's name and gain access to all our data.
        </span>
      </div>
      <div class="info-card">
        <img src="/assets/edit-file.png" alt="edit-icon">
        <h3>EDIT IT</h3>
        <span>All the information about the club, excluding the squad lineup, its exposed to you for editing, 
          just beware of the required entries. The lineup editing and creation tool is soon to be implemented. 
        </span>
      </div>
      <div class="info-card">
        <img src="/assets/add-file.png" alt="create-icon">
        <h3>ADD A NEW ONE</h3>
        <span>Or delete it! Any of the original 20 Members Clubs can be removed and any number of new clubs can be added.
          Play the fantasy and become the Manager of a brand new Premier Team.
        </span>
      </div>
    </div>
  </section>
</main>